<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>
\f1\fs28 \expnd0\expndtw0\kerning0
http://121.40.157.182/fmr/public/new_app/136.ipa
\f0\fs24 \kerning1\expnd0\expndtw0 </string>
</dict>
<dict>
<key>kind</key>
<string>full-size-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>
\f1\fs28 \expnd0\expndtw0\kerning0
http://121.40.157.182/fmr/public/new_app/512.png
\f0\fs24 \kerning1\expnd0\expndtw0 </string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<string>
\f1\fs28 \expnd0\expndtw0\kerning0
http://121.40.157.182/fmr/public/new_app/57.png
\f0\fs24 \kerning1\expnd0\expndtw0 </string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>
\f2 \'b7\'c6\'c3\'d7\'b6\'fb\'bf\'c6\'bc\'bc
\f0 </string>
<key>bundle-version</key>
<string>1.0
\f2 .36
\f0 </string>
<key>kind</key>
<string>software</string>
<key>subtitle</key>
<string>
\f2 \'b7\'c6\'c3\'d7\'b6\'fb\'bf\'c6\'bc\'bc
\f0 </string>
<key>title</key>
<string>Test</string>
</dict>
</dict>
</array>
</dict>
</plist>
